#header {
    transition: all 0.5s;
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

#header .nav-menu>ul>li>a {
    font-size: 1.2rem;
}

#header .logo a {
    color: #16507b;
}

#header .logo img {
    height: 20vh;
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}